.mimargin{
    margin-left: 10px;
    margin-right: 10px;
}

.panel-primary{
    margin:0 auto;
    background-color: #263238;
    padding: 5px;
    margin:0px;
    width: 100%;
    height:100%;
    
}

.color{
    background-color: #00323D;
}
/* Color Theme Swatches in Hex */
.color5 { color: #660000; }
.color4 { color: #C93218; }
.color3 { color: #FFD971; }
.color2 { color: #05898F; }
.color1 { color: #00323D; }

.color5b { background-color: #660000; }
.color4b { background-color: #C93218; }
.color3b { background-color: #FFD971; }
.color2b { background-color: #05898F; }
.color1b { background-color: #00323D; }

.color5-text { text-decoration-color: #660000; }
.color4-text { text-decoration-color: #C93218; }
.color3-text {  text-decoration-color: #FFD971; }
.color2-text { text-decoration-color: #05898F; }
.color1-text { text-decoration-color: #00323D; }

